.DS_Store
._*
Thumbs.db
desktop.ini
*~
*.bak
core
*.orig
*.o
*.a
.vscode/
.idea/
*.swp
*.log
*.env
coverage/
*.gcno
*.gcda
*.gcov
*.txt
*.html
*.url
*.sh
.history/
.venv/
__pycache__/
*.pyc
node_modules/